{% extends 'base.html.twig' %}

{% block body %}
    <section class="container mt-5">
        <div class="row">
            <div class="col-6 mx-auto">
                {{ form_start(form) }}
                {{ form_row(form.label) }}
                <button class="btn btn-primary"><i class="bi bi-save-fill"></i> Enregistrer le nouveau groupe</button>
                {{ form_end(form) }}
            </div>
        </div>
    </section>

    <section class="container mt-3">
        <div class="row">
            <div class="col-6 mx-auto">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom du groupe</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if groups and groups is iterable and groups is not empty %}
                        {% for group in groups %}
                            <tr>
                                <th >{{ group.id }}</th>
                                <th>{{ group.label }}</th>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <p class="alert alert-info">Il n y a pas encore de groupes</p>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}
