<section
        class="container"
        {{ stimulus_controller('comments') }}
        data-comments-url-value="{{ path('trick_get_comments', {slug: trick.slug}) }}"
>
    <template {{ stimulus_target('comments', 'template') }}>
        <div class="col-10 mx-auto">
            <div class="d-flex my-3">
                <img class="rounded-circle" src="https://via.placeholder.com/80" alt="">
                <div class="mx-3 d-flex flex-wrap comment__content w-100">
                    <h3 class="h5 d-flex flex-wrap justify-content-between w-100">${user.username}
                        <span>
                            <i class="bi bi-clock mx-sm-2"></i>
                            ${createdAt}
                        </span>
                    </h3>
                    <p class="w-100">${content}</p>
                </div>
            </div>
        </div>
    </template>

    <div class="row comment-listing" {{ stimulus_target('comments', 'listing') }}></div>

    <div class="spinner text-center" {{ stimulus_target('comments', 'spinner') }}>
        <div class="lds-dual-ring mx-auto"></div>
    </div>

    <div {{ stimulus_target('comments', 'loadMore') }} class="text-center mt-4 d-none">
        <button {{ stimulus_action('comments', 'loadMore') }} class="btn btn-outline-primary">
            Charger plus
        </button>
    </div>
</section>
