{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('create_trick') }}
{% endblock %}

{% block body %}

    <div class="container mt-5">
        {{ form_start(form) }}

        <div class="my-5">
            <div {{ stimulus_controller('form-collection') }}
                    data-form-collection-index-value="{{ form.videos|length > 0 ? form.videos|last.vars.name + 1 : 0 }}"
                    data-form-collection-prototype-value="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}"
            >
                <ul {{ stimulus_target('form-collection', 'collectionContainer') }} class="list-group videos">
                    {% for video in form.videos %}
                        <li>{{ form_row(video.title) }}</li>
                        <li>{{ form_row(video.url) }}</li>
                    {% endfor %}
                </ul>

                <button type="button" {{ stimulus_action('form-collection', 'addCollectionElement') }}
                        class="add_item_link btn btn-outline-primary rounded-0" data-collection-holder-class="videos">
                    <i class="bi bi-plus-square mx-1"></i> Ajouter une nouvelle vidéo
                </button>
            </div>
        </div>

        {{ form_row(form.name) }}
        {{ form_row(form.cover) }}
        {{ form_row(form.images) }}
        {{ form_row(form.description) }}
        {{ form_row(form.categories) }}

        {{ form_end(form) }}
    </div>


    {#    <div class="page position-relative"> #}

    {#        <img src="https://via.placeholder.com/1920x700" class="page__background" alt="Image d'illustration"> #}

    {#        <div class="container position-absolute page__content"> #}
    {#            <div class="row border border-1 border-light shadow-lg"> #}
    {#                <div class="col-12 p-0 content__image"> #}
    {#                    <img src="https://via.placeholder.com/800" class="cover" alt="Image d'illustration"> #}
    {#                    <div class="page__content__cover__controls position-absolute"> #}
    {#                        <a href="#" class="control control--edit">EDIT</a> #}
    {#                        <a href="#" class="control control--edit">DELETE</a> #}
    {#                    </div> #}
    {#                </div> #}
    {#            </div> #}

    {#            <div class="row media bg-light py-2"> #}
    {#                <div class="col-2 mb-2 media__item"> #}
    {#                    <img src="https://via.placeholder.com/200" alt=""> #}
    {#                    <div class="media_controls"> #}
    {#                        <a href="#" class="control control--edit">EDIT</a> #}
    {#                        <a href="#" class="control control--edit">DELETE</a> #}
    {#                    </div> #}
    {#                </div><div class="col-2 mb-2 media__item"> #}
    {#                    <img src="https://via.placeholder.com/200" alt=""> #}
    {#                    <div class="media_controls"> #}
    {#                        <a href="#" class="control control--edit">EDIT</a> #}
    {#                        <a href="#" class="control control--edit">DELETE</a> #}
    {#                    </div> #}
    {#                </div><div class="col-2 mb-2 media__item"> #}
    {#                    <img src="https://via.placeholder.com/200" alt=""> #}
    {#                    <div class="media_controls"> #}
    {#                        <a href="#" class="control control--edit">EDIT</a> #}
    {#                        <a href="#" class="control control--edit">DELETE</a> #}
    {#                    </div> #}
    {#                </div><div class="col-2 mb-2 media__item"> #}
    {#                    <img src="https://via.placeholder.com/200" alt=""> #}
    {#                    <div class="media_controls"> #}
    {#                        <a href="#" class="control control--edit">EDIT</a> #}
    {#                        <a href="#" class="control control--edit">DELETE</a> #}
    {#                    </div> #}
    {#                </div><div class="col-2 mb-2 media__item"> #}
    {#                    <img src="https://via.placeholder.com/200" alt=""> #}
    {#                    <div class="media_controls"> #}
    {#                        <a href="#" class="control control--edit">EDIT</a> #}
    {#                        <a href="#" class="control control--edit">DELETE</a> #}
    {#                    </div> #}
    {#                </div><div class="col-2 mb-2 media__item"> #}
    {#                    <img src="https://via.placeholder.com/200" alt=""> #}
    {#                    <div class="media_controls"> #}
    {#                        <a href="#" class="control control--edit">EDIT</a> #}
    {#                        <a href="#" class="control control--edit">DELETE</a> #}
    {#                    </div> #}
    {#                </div> #}
    {#            </div> #}
    {#        </div> #}

    {#        <div class="row"></div> #}
    {#    </div> #}
{% endblock %}
