{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('create_trick') }}
{% endblock %}

{% block body %}

    <div class="container mt-5">
        {{ form_start(form) }}

        {{ form_row(form.videos) }}

        {{ form_row(form.name) }}
        {{ form_row(form.cover) }}
        {{ form_row(form.description) }}
        {{ form_row(form.category) }}

        {{ form_end(form) }}
    </div>


    {#    <div class="page position-relative"> #}

    {#        <img src="https://via.placeholder.com/1920x700" class="page__background" alt="Image d'illustration"> #}

    {#        <div class="container position-absolute page__content"> #}
    {#            <div class="row border border-1 border-light shadow-lg"> #}
    {#                <div class="col-12 p-0 content__image"> #}
    {#                    <img src="https://via.placeholder.com/800" class="cover" alt="Image d'illustration"> #}
    {#                    <div class="page__content__cover__controls position-absolute"> #}
    {#                        <a href="#" class="control control--edit">EDIT</a> #}
    {#                        <a href="#" class="control control--edit">DELETE</a> #}
    {#                    </div> #}
    {#                </div> #}
    {#            </div> #}

    {#            <div class="row media bg-light py-2"> #}
    {#                <div class="col-2 mb-2 media__item"> #}
    {#                    <img src="https://via.placeholder.com/200" alt=""> #}
    {#                    <div class="media_controls"> #}
    {#                        <a href="#" class="control control--edit">EDIT</a> #}
    {#                        <a href="#" class="control control--edit">DELETE</a> #}
    {#                    </div> #}
    {#                </div><div class="col-2 mb-2 media__item"> #}
    {#                    <img src="https://via.placeholder.com/200" alt=""> #}
    {#                    <div class="media_controls"> #}
    {#                        <a href="#" class="control control--edit">EDIT</a> #}
    {#                        <a href="#" class="control control--edit">DELETE</a> #}
    {#                    </div> #}
    {#                </div><div class="col-2 mb-2 media__item"> #}
    {#                    <img src="https://via.placeholder.com/200" alt=""> #}
    {#                    <div class="media_controls"> #}
    {#                        <a href="#" class="control control--edit">EDIT</a> #}
    {#                        <a href="#" class="control control--edit">DELETE</a> #}
    {#                    </div> #}
    {#                </div><div class="col-2 mb-2 media__item"> #}
    {#                    <img src="https://via.placeholder.com/200" alt=""> #}
    {#                    <div class="media_controls"> #}
    {#                        <a href="#" class="control control--edit">EDIT</a> #}
    {#                        <a href="#" class="control control--edit">DELETE</a> #}
    {#                    </div> #}
    {#                </div><div class="col-2 mb-2 media__item"> #}
    {#                    <img src="https://via.placeholder.com/200" alt=""> #}
    {#                    <div class="media_controls"> #}
    {#                        <a href="#" class="control control--edit">EDIT</a> #}
    {#                        <a href="#" class="control control--edit">DELETE</a> #}
    {#                    </div> #}
    {#                </div><div class="col-2 mb-2 media__item"> #}
    {#                    <img src="https://via.placeholder.com/200" alt=""> #}
    {#                    <div class="media_controls"> #}
    {#                        <a href="#" class="control control--edit">EDIT</a> #}
    {#                        <a href="#" class="control control--edit">DELETE</a> #}
    {#                    </div> #}
    {#                </div> #}
    {#            </div> #}
    {#        </div> #}

    {#        <div class="row"></div> #}
    {#    </div> #}
{% endblock %}
