{% extends 'base.html.twig' %}

{% block title %}{{ 'Modifier la figure "' ~ trick.name ~ '" - ' ~ parent() }}{% endblock %}

{% block body %}
    <section {{ stimulus_controller('form-tricks') }}
            aria-labelledby="page-title" class="page position-md-relative">

        <img {{ stimulus_target('form-tricks', 'cover') }}
                src="{{ asset('uploads/cover/') ~ trick.coverWebPath }}"
                class="d-none d-xl-block page__background" alt="Image d'illustration">

        <div class="container page__content">
            {{ include('tricks/form/_form.html.twig', {action: 'edit'}) }}
        </div>
    </section>
{% endblock %}
