{% extends 'base.html.twig' %}

{% block body %}
    <section class="header">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="position-absolute header-position">
                        <h1 class="text-white display-1 fw-bold">Snowtricks</h1>
                        <p class="text-white display-4 fw-bold">Partagez autours du Snowboard</p>
                        <a href="#list" class="btn bg-white btn-lg mt-5 py-2 px-4"><i class="bi bi-arrow-down-circle me-1"></i> Découvrir</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container pt-5" id="list">
        <section class="my-5">
            <h2 class="mb-4">Liste des figures</h2>
            <div
                    {{ stimulus_controller('tricks') }}
                    {{ stimulus_target('tricks', 'listingHolder') }}
                    data-tricks-rest-url-value="{{ path('trick_get_collection') }}"
                    data-tricks-page-value="1"
                    data-tricks-last-page-value="1"
                    data-tricks-cover-path-value="{{ cover_path }}"
                    data-tricks-update-route-value="{{ routes.update }}"
                    data-tricks-delete-route-value="{{ routes.delete }}"
                    data-tricks-is-user-logged-in-value="{{ is_granted('ROLE_USER') }}"
                    class="row"
            >
                {% for trick in tricks %}
                    {{ include('tricks/_listing.html.twig', {trick: trick}) }}
                {% endfor %}

                {% if (total_items > tricks_to_show) %}
                    <div class="col-12 mx-auto text-center">
                        <button class="btn btn-outline-primary" {{ stimulus_action('tricks', 'load') }}>
                            Charger plus de figures
                        </button>
                    </div>
                {% endif %}
            </div>

        </section>
    </section>
{% endblock %}
