{% extends 'base.html.twig' %}

{% block body %}
    <section aria-labelledby="page-title" class="page position-md-relative">

        {# Background image #}
        <img src="{{ asset('uploads/cover/') ~ trick.coverWebPath }}" class="d-none d-xl-block page__background"
             alt="Image d'illustration">

        <div class="container page__content">

            {# Cover image #}
            <div class="row border border-1 border-light rounded-1 position-relative">
                <div class="col-12 p-0 content__image">

                    <img src="{% if trick.coverWebPath %}{{ asset('uploads/cover/') ~ trick.coverWebPath }}{% else %}https://via.placeholder.com/1100x400{% endif %}"
                         alt="Image de couverture">

                    {% if (app.user) %}
                        <div class="page__content__cover__controls position-absolute bg-light rounded-1">
                            <a href="{{ path('app_trick_update', {slug: trick.slug}) }}" class="btn bg-light"
                               title="Modifier la figure">
                                <i class="bi bi-pencil-fill"></i>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="row media bg-light pt-2 pb-5 mb-5" id="medias-container">

                {% if (trick.images|length + trick.videos|length > 0) %}
                    <a href="#" class="btn btn-outline-primary d-block d-lg-none w-50 mx-auto my-3"
                       data-action="toggle-medias">Voir les médias</a>
                {% endif %}

                <div class="d-none d-lg-block" id="medias-toggle">
                    <div class="row my-3">
                        {% for i, image in trick.images %}
                            <div class="col-12 col-sm-6 col-mb-4 col-lg-3 col-xxl-2 mb-3 item item-{{ i }} d-flex flex-column justify-content-end">
                                <div class="media__item">
                                    <img src="{{ asset('uploads/img/' ~ image.path) }}"
                                         alt="TODO">
                                </div>
                            </div>
                        {% endfor %}
                        {% for i, video in trick.videos %}
                            <div class="col-12 col-sm-6 col-mb-4 col-lg-3 col-xxl-2 mb-3 item item-{{ trick.images|length + i }} d-flex flex-column justify-content-end">
                                <iframe width="auto" height="auto" allowfullscreen
                                        src="{{ video.url|replace({'watch?v=': 'embed/'}) }}">
                                </iframe>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="row mt-3 mb-2">
                    <h1 class="col-12 col-lg-10 mx-auto">
                        {{ trick.name }}
                    </h1>
                </div>

                <div class="row my-3">
                    <div class="col-12 col-lg-10 mx-auto">
                        {{ trick.description }}
                    </div>
                </div>

                <div class="col-12 col-lg-10 mx-auto d-flex flex-wrap justify-content-center gap-3 my-4">
                    <p class="mb-2 bg-dark text-white px-3 py-2 rounded-5">
                        <i class="bi bi-clock"></i>
                        {% if trick.updatedAt %}
                            {{ trick.updatedAt|format_datetime('full', 'none', locale='fr') }}
                        {% else %}
                            {{ trick.createdAt|format_datetime('full', 'none', locale='fr') }}
                        {% endif %}
                    </p>
                    <p class="mb-2 bg-primary text-white px-3 py-2 rounded-5">
                        {{ trick.category.label }}
                    </p>
                </div>

                {% if app.user %}
                    <hr class="col-12 col-lg-10 mx-auto my-5">
                    {{ render(controller('App\\Controller\\CommentController::create', {trick: trick})) }}
                    <hr class="col-12 col-lg-10 mx-auto my-5">
                {% endif %}

                {{ include('comments/_list.html.twig', {trick: trick}) }}
            </div>
        </div>
    </section>
{% endblock %}
